@{
    ViewData["Title"] = @ViewData["H1"];
}

<div id="main">
    <h1>@ViewData["H1"]</h1>
    <div class="container-fluid">
        @Html.Raw(ViewData["SRC"])
        @Html.Raw(ViewData["BODY"])
    </div>
</div>